<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HerbDict</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-fluid">

  	<div id="mySidenav" class="sidenav greenBack">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <%= link_to 'HerbDict', {:controller => 'pages', :action => 'home'}, :class => 'navbar-brand' %>
	  <%= link_to "Articles", {:controller => 'articles'}, :class => "nav-link" %>
	  <%= link_to "Users", {:controller => 'users'}, :class => "nav-link" %>
	  <%= link_to "About", {:controller => 'pages', :action => 'about'}, :class => "nav-link" %>
	</div>

	<div id="main">

	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <%= yield %>

    </div>

    </div>
  </body>
</html>
